# 日志解析配置
ES_HOST="http://xxx:9200"
# FastAPI 配置
DETECT_API_URL="http://localhost:8001/detect/log"
API_TOKEN="ggp2138xxx"
# 钉钉机器人配置
DINGTALK_WEBHOOK="xxx"
DINGTALK_SECRET="xxx"
# Prometheus 容器服务
PROMETHEUS_URL="http://xxx:9090"